## Práctica

Puedes utilizar este notebook para analisar el dataset propuesto

In [9]:
import pandas as pd
import numpy as np

# Cargar el dataset Boston desde un CSV equivalente (Boston original)
url = "https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv"

df_boston = pd.read_csv(url)
df_boston.columns = df_boston.columns.str.upper()

In [6]:
df_boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [7]:
df_boston.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS         int64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD          int64
TAX          int64
PTRATIO    float64
B          float64
LSTAT      float64
MEDV       float64
dtype: object

In [8]:
df_boston.isna().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [10]:
crim_min = df_boston["CRIM"].min()
crim_max = df_boston["CRIM"].max()

crim_min, crim_max

(np.float64(0.00632), np.float64(88.9762))

In [11]:
# valor máximo de CRIM "elegido por el usuario" (después será el slider)
max_crim = 5   # probá cambiarlo a otros valores

# valor del checkbox "Limita con Río Charles (CHAS)"
only_river = True   # poné False para probar sin filtro por río

In [12]:
# Filtro por CRIM
df_filtrado = df_boston[df_boston["CRIM"] <= max_crim].copy()

# Si el checkbox está tildado, filtramos también por CHAS = 1
if only_river:
    df_filtrado = df_filtrado[df_filtrado["CHAS"] == 1]

df_filtrado.head(), df_filtrado.shape

(        CRIM   ZN  INDUS  CHAS    NOX     RM    AGE     DIS  RAD  TAX  \
 142  3.32105  0.0  19.58     1  0.871  5.403  100.0  1.3216    5  403
 152  1.12658  0.0  19.58     1  0.871  5.012   88.0  1.6102    5  403
 154  1.41385  0.0  19.58     1  0.871  6.129   96.0  1.7494    5  403
 155  3.53501  0.0  19.58     1  0.871  6.152   82.6  1.7455    5  403
 160  1.27346  0.0  19.58     1  0.605  6.250   92.6  1.7984    5  403

      PTRATIO       B  LSTAT  MEDV
 142     14.7  396.90  26.82  13.4
 152     14.7  343.28  12.12  15.3
 154     14.7  321.02  15.12  17.0
 155     14.7   88.01  15.02  15.6
 160     14.7  338.92   5.50  27.0  ,
 (30, 14))

In [13]:
medv_values = df_filtrado["MEDV"].values  # array de NumPy

mean_medv = np.mean(medv_values)
median_medv = np.median(medv_values)
std_medv = np.std(medv_values, ddof=1)  # desviación estándar muestral

mean_medv, median_medv, std_medv

(np.float64(26.83), np.float64(23.15), np.float64(10.387497458400452))

In [14]:
print(f"Media de MEDV: {mean_medv:.2f}")
print(f"Mediana de MEDV: {median_medv:.2f}")
print(f"Desviación estándar de MEDV: {std_medv:.2f}")

Media de MEDV: 26.83
Mediana de MEDV: 23.15
Desviación estándar de MEDV: 10.39