## Pr√°ctica

Puedes utilizar este notebook para analisar el dataset propuesto

In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import fetch_california_housing

housing = fetch_california_housing()

df_california = pd.DataFrame(housing.data, columns=housing.feature_names)
df_california["MedHouseVal"] = housing.target

df_california.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [2]:
df_california.dtypes

MedInc         float64
HouseAge       float64
AveRooms       float64
AveBedrms      float64
Population     float64
AveOccup       float64
Latitude       float64
Longitude      float64
MedHouseVal    float64
dtype: object

In [3]:
df_california.isna().sum()

MedInc         0
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
MedHouseVal    0
dtype: int64

In [4]:
age_min = df_california["HouseAge"].min()
age_max = df_california["HouseAge"].max()

age_min, age_max

(np.float64(1.0), np.float64(52.0))

In [5]:
lat_min = df_california["Latitude"].min()
lat_max = df_california["Latitude"].max()

lat_min, lat_max

(np.float64(32.54), np.float64(41.95))

In [6]:
houseage_user_min = 10
houseage_user_max = 40

lat_user_min = 34

In [8]:
df_filtrado = df_california[
    (df_california["HouseAge"] >= houseage_user_min) &
    (df_california["HouseAge"] <= houseage_user_max) &
    (df_california["Latitude"] >= lat_user_min)].copy()

df_filtrado.head(), df_filtrado.shape

(    MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
 1   8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
 20  1.3578      40.0  4.524096   1.108434       409.0  2.463855     37.85
 48  0.9506      40.0  3.900000   1.218750       423.0  2.643750     37.82
 49  1.7750      40.0  2.687500   1.065341       700.0  1.988636     37.82
 50  0.9218      21.0  2.045662   1.034247       735.0  1.678082     37.82

     Longitude  MedHouseVal
 1     -122.22        3.585
 20    -122.27        1.475
 48    -122.26        1.875
 49    -122.27        1.125
 50    -122.27        1.719  ,
 (10494, 9))

In [9]:
valores = df_filtrado["MedHouseVal"].values

mediana = np.median(valores)
rango = valores.max() - valores.min()

mediana, rango

(np.float64(1.696), np.float64(4.85002))